In [1]:
import pandas as pd
from pathlib import Path
from edisgo import flex_opt
from edisgo import network
from edisgo import tools
from edisgo import EDisGo


grid_name = 'ding0_test_network'


curr_path = Path.cwd()
parent_dir = curr_path.parents[3]
# simbench_grids_dir = parent_dir / 'simbench'
grid_dir = parent_dir / grid_name
print (grid_dir)

/usr/local/anaconda3/envs/edisgo/lib/python3.6/site-packages/sqlalchemy/ext/declarative/base.py:338: SAWarning: Ignoring declarative-like tuple value of attribute segment: possibly a copy-and-paste error with a comma left at the end of the line?
  "left at the end of the line?" % k)
/usr/local/anaconda3/envs/edisgo/lib/python3.6/site-packages/sqlalchemy/ext/declarative/base.py:338: SAWarning: Ignoring declarative-like tuple value of attribute cable: possibly a copy-and-paste error with a comma left at the end of the line?
  "left at the end of the line?" % k)

/Users/heikernleong/Documents/localFiles/sa_code/edisgo/hk_edisgo/ding0_test_network

In [2]:
worst_case_analysis = 'worst-case-feedin'
edisgo = EDisGo(ding0_grid=grid_dir, worst_case_analysis=worst_case_analysis)

WARNING:pypsa.io:
Importing PyPSA from older version of PyPSA than current version 0.17.1.
Please read the release notes at https://pypsa.org/doc/release_notes.html
carefully to prepare your network for import.

INFO:pypsa.io:Imported network ding0_test_network has buses, generators, lines, loads, transformers

In [12]:
for key in edisgo.timeseries.__dict__:
    print (key)
    display(edisgo.timeseries.__dict__[key])

_timeindex

DatetimeIndex(['1970-01-01'], dtype='datetime64[ns]', freq='H')

_generators_active_power

name,Generator_mvgd_2761_lvgd_203884_solar_roof_mounted_1593663,Generator_mvgd_2761_lvgd_203886_solar_roof_mounted_1564359,Generator_mvgd_2761_lvgd_203893_solar_roof_mounted_1604374,Generator_mvgd_2761_lvgd_203897_solar_roof_mounted_1567265,Generator_mvgd_2761_lvgd_203898_solar_roof_mounted_1572933,Generator_mvgd_2761_lvgd_203899_solar_roof_mounted_1582357,Generator_mvgd_2761_lvgd_203900_solar_roof_mounted_1595311,Generator_mvgd_2761_lvgd_203900_solar_roof_mounted_1596285,Generator_mvgd_2761_lvgd_203904_solar_roof_mounted_1595545,Generator_mvgd_2761_lvgd_203905_solar_roof_mounted_1590517,...,Generator_mvgd_2761_wind_onshore_1475356,Generator_mvgd_2761_wind_onshore_1475357,Generator_mvgd_2761_wind_onshore_1475358,Generator_mvgd_2761_wind_onshore_1475359,Generator_mvgd_2761_wind_onshore_1475363,Generator_mvgd_2761_wind_onshore_1475364,Generator_mvgd_2761_lvgd_196761_solar_roof_mounted_1596615,Generator_mvgd_2761_lvgd_449723_solar_roof_mounted_1588362,Generator_mvgd_2761_lvgd_198602_solar_roof_mounted_1588638,Generator_mvgd_2761_lvgd_198684_solar_roof_mounted_1591905
1970-01-01,0.00765,0.005202,0.0034,0.0017,0.005304,0.00272,0.004335,0.002652,0.004054,0.004819,...,1.5,1.5,1.5,1.5,1.8,1.8,0.00102,0.0085,0.008398,0.002295

_generators_reactive_power

name,Generator_mvgd_2761_lvgd_203884_solar_roof_mounted_1593663,Generator_mvgd_2761_lvgd_203886_solar_roof_mounted_1564359,Generator_mvgd_2761_lvgd_203893_solar_roof_mounted_1604374,Generator_mvgd_2761_lvgd_203897_solar_roof_mounted_1567265,Generator_mvgd_2761_lvgd_203898_solar_roof_mounted_1572933,Generator_mvgd_2761_lvgd_203899_solar_roof_mounted_1582357,Generator_mvgd_2761_lvgd_203900_solar_roof_mounted_1595311,Generator_mvgd_2761_lvgd_203900_solar_roof_mounted_1596285,Generator_mvgd_2761_lvgd_203904_solar_roof_mounted_1595545,Generator_mvgd_2761_lvgd_203905_solar_roof_mounted_1590517,...,Generator_mvgd_2761_wind_onshore_1475356,Generator_mvgd_2761_wind_onshore_1475357,Generator_mvgd_2761_wind_onshore_1475358,Generator_mvgd_2761_wind_onshore_1475359,Generator_mvgd_2761_wind_onshore_1475363,Generator_mvgd_2761_wind_onshore_1475364,Generator_mvgd_2761_lvgd_196761_solar_roof_mounted_1596615,Generator_mvgd_2761_lvgd_449723_solar_roof_mounted_1588362,Generator_mvgd_2761_lvgd_198602_solar_roof_mounted_1588638,Generator_mvgd_2761_lvgd_198684_solar_roof_mounted_1591905
1970-01-01,-0.003705,-0.002519,-0.001647,-0.000823,-0.002569,-0.001317,-0.0021,-0.001284,-0.001964,-0.002334,...,-0.726483,-0.726483,-0.726483,-0.726483,-0.87178,-0.87178,-0.000335,-0.002794,-0.00276,-0.000754

_loads_active_power

name,Load_mvgd_2761_lac_119675_industrial,Load_mvgd_2761_lac_119675_residential,Load_mvgd_2761_lac_119675_retail,Load_mvgd_2761_lvgd_196758_1,Load_mvgd_2761_lvgd_196758_2,Load_mvgd_2761_lvgd_196758_3,Load_mvgd_2761_lvgd_196758_4,Load_mvgd_2761_lvgd_196758_5,Load_mvgd_2761_lvgd_196758_6,Load_mvgd_2761_lvgd_196758_7,...,Load_mvgd_2761_lvgd_198685_69,Load_mvgd_2761_lvgd_198685_70,Load_mvgd_2761_lvgd_198685_71,Load_mvgd_2761_lvgd_198685_72,Load_mvgd_2761_lvgd_198685_73,Load_mvgd_2761_lvgd_198685_74,Load_mvgd_2761_lvgd_198685_75,Load_mvgd_2761_lvgd_198685_76,Load_mvgd_2761_lvgd_198685_77,Load_mvgd_2761_lvgd_449894_1
1970-01-01,0.202017,0.481421,0.101722,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,...,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000147

_loads_reactive_power

name,Load_mvgd_2761_lac_119675_industrial,Load_mvgd_2761_lac_119675_residential,Load_mvgd_2761_lac_119675_retail,Load_mvgd_2761_lvgd_196758_1,Load_mvgd_2761_lvgd_196758_2,Load_mvgd_2761_lvgd_196758_3,Load_mvgd_2761_lvgd_196758_4,Load_mvgd_2761_lvgd_196758_5,Load_mvgd_2761_lvgd_196758_6,Load_mvgd_2761_lvgd_196758_7,...,Load_mvgd_2761_lvgd_198685_69,Load_mvgd_2761_lvgd_198685_70,Load_mvgd_2761_lvgd_198685_71,Load_mvgd_2761_lvgd_198685_72,Load_mvgd_2761_lvgd_198685_73,Load_mvgd_2761_lvgd_198685_74,Load_mvgd_2761_lvgd_198685_75,Load_mvgd_2761_lvgd_198685_76,Load_mvgd_2761_lvgd_198685_77,Load_mvgd_2761_lvgd_449894_1
1970-01-01,0.097841,0.233163,0.049266,0.000033,0.000033,0.000033,0.000033,0.000033,0.000033,0.000033,...,0.000033,0.000033,0.000033,0.000033,0.000033,0.000033,0.000033,0.000033,0.000033,0.000048

_storage_units_active_power

Empty DataFrame
Columns: []
Index: [1970-01-01 00:00:00]

_storage_units_reactive_power

Empty DataFrame
Columns: []
Index: [1970-01-01 00:00:00]

_charging_points_active_power

Empty DataFrame
Columns: []
Index: []

_charging_points_reactive_power

Empty DataFrame
Columns: []
Index: []

_curtailment

Empty DataFrame
Columns: []
Index: []

mode

'worst-case-feedin'